<div class="main-div">
    <div *ngIf="!isFileUploadDone">
        <div class="preview">
            <img *ngIf="isImageReadyToRender" [src]="url" height="300"> <br/>
        </div>
        <input type="file" (change)="handleFileInput($event.target.files)"> <br>
        <button *ngIf="isFileValid" mat-raised-button (click)="upload()" style="max-width: fit-content;"><mat-icon>file_upload</mat-icon>Upload Image</button>
    </div>
    <div *ngIf="isFileUploadDone">
        <h1>File already uploaded</h1>
        <button mat-raised-button routerLink="/quest">Go back to quest</button>
    </div>
</div>