<div style="opacity: 0.7; background-image: url('https://cdn1.epicgames.com/ue/product/Screenshot/g4-1920x1080-aeff7f0d081949aa99eabc3164676df9.jpg'); height:100%; width:100%">
<div style="background: #CCC; opacity: 0.7; height: 100%;">
    <mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{teamName}}</h2>
            <h3 style="color: green; font-weight: bold;">{{score}}
                <img src="../../../../assets/coin.png" width="25px">
                2<img src="https://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Actions-help-hint-icon.png" width="25px">
                1 <img src="https://lh3.googleusercontent.com/proxy/kVkioITm-rh6_e8mpFs_wuIIbfG65EjQ7CLTfq9XWMbdkPmW_mR7raRz11oJqabMyU0F7X6-LvVbcl51n0Bx2Z0Hg61HZKOBBMLuZlvMTtjj61LO6mlHNtV3CzNjh4ph6Q" width="25px">
            </h3>
        </div>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/leaderboard"><mat-icon>trending_up</mat-icon>Leaderboard</a>
    <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/team-info"><mat-icon>supervised_user_circle</mat-icon>Team Info</a>
    <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/question"><mat-icon>question_answer</mat-icon>Today's Quest</a>
    <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/puzzles"><mat-icon>dashboard</mat-icon>Puzzles</a>
</mat-nav-list>
</div>
</div>