<mat-toolbar [ngStyle]="{'background-color':'#FFD700'}">
    <mat-toolbar-row>
        <!-- [ngStyle]="{'color':'white'}" -->
        <button mat-icon-button (click)="emitSideBarEvent()" *ngIf="isUserLoggedIn">
            <mat-icon>menu</mat-icon>
        </button>
        
        <a routerLink=""><img class="logo" src="../../../../assets/thlogo.webp" alt="logo"></a>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li *ngIf="isUserLoggedIn">
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>exit_to_app</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            Signout
                        </button>
                    </mat-menu>
                </li>
                <li *ngIf="!isUserLoggedIn">
                     <button mat-raised-button routerLink="/login">Enter portal</button>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>