.bg-img{
    background-size:cover; width:auto;
    height: 100%;
    background-image:url('https://www.wanderquest.in/monthly-subscription-boxes-for-kids-6-to-12-years/modules//smartblog/images/15-single-default.jpg');
     background-position:50% 50%;
}