<!-- <div style="background-image:url('');"></div> -->
<!-- <img src="../../../assets/treasure-hunt.jpg"> -->
<!-- <div [style.background]="url('../../assets/treasure-hunt.jpg')"></div> -->
<div class="bg-img"><br>
    <br><br>
    <br><br><br>
    <h1 style="font-weight: bold; font-size: 50px; color: rgb(0, 0, 0); margin-left:18%; font-family: cursive;">GigSky Fun Committee presents...</h1>
    <!-- <h2>presents</h2> --> <br> <br><br>
    <h1 style="font-weight: bold; font-size: 50px; color: #e9c110;font-family: Georgia, 'Times New Roman', Times, serif; margin-left:35%">The Secret Cities</h1>
        <br><br>
    <h2 style="background-color: white;font-size: 30px; opacity: 0.7; width: 100%; text-align: center; font-family: fantasy; padding: 10px;">Open the doors of the long lost temple to save the world</h2>
    
</div>