<div style=" height: 100%; background-size: cover; background-position: center-center; ">
    <mat-table [dataSource]="dataSource" style="width: 30%; height: fit-content; opacity: 0.8; margin-top: 10%;">
        <ng-container matColumnDef="teamName">
            <mat-header-cell *matHeaderCellDef>Sl No.</mat-header-cell>
            <mat-cell *matCellDef="let team">{{ team.teamName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="score">
            <mat-header-cell *matHeaderCellDef>Points</mat-header-cell>
            <mat-cell *matCellDef="let team">{{ team.score }}<img src="../../../../assets/coin.png" width="25px"></mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let i=index" ></mat-row>
    </mat-table>
</div>
