<div style="background-image: url('https://external-preview.redd.it/g5j2TiKNMexiRBT2Le3xlpzARXN7g5_O_wmWZB-dP9I.jpg?auto=webp&s=ba8611746c1798e80a778da1a99af7d6d0993d73'); height: 100%; width: 100%; background-size: cover; ">
  <!-- <h1></h1>
  <h1></h1>-->
  
  <div class="mat-elevation-z8 login-card"  style="opacity: 0.8;">
    <mat-card>
      <mat-card-content>
        <h1>Welcome saviours of the world</h1>
      </mat-card-content>
    </mat-card>
  </div>
  <br><br><br><br><br><br><br>
  <div class="mat-elevation-z8 login-card" style="opacity: 0.7;">
    <mat-card>
      <mat-card-title>Portal</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="standard">
            <mat-label>Kingdom</mat-label>
            <mat-icon matPrefix>person_outline</mat-icon>
        <input matInput [(ngModel)]="username" placeholder="Kingdom" required>
        </mat-form-field><br>
        <mat-form-field appearance="standard">
            <mat-label>Passphrase</mat-label>
            <mat-icon matPrefix>vpn_key</mat-icon>
        <input matInput [(ngModel)]="password" placeholder="Passphrase" type="password" required>
        </mat-form-field><br>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="loginUser()">Enter portal</button>
      </mat-card-actions>
    </mat-card>
</div>
</div>
