<app-header (sideBarEventEmitter)="toggleSideBar($event)"></app-header>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpened">
      <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content autosize>
      <div class="mat-elevation-z8 login-card">
        <mat-card >
          <mat-card-header>Login</mat-card-header>
          <mat-card-content>
            <h1>GigSky India Private Limited</h1>
            <router-outlet></router-outlet>
            <button mat-raised-button color="primary">Ok</button>
          </mat-card-content>
        </mat-card>
    </div>
    </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>