
<div [ngStyle]="{'width': 'auto','display': 'flex','flex-direction': 'column','justify-content': 'center','text-align': 'center','background-image':currentImagePath,'height': '100%','background-size':'cover','background-position':'center-center'}">
    <div>
        <br>
        <div *ngIf="shipEntry" [ngStyle]="{'width': 'fit-content','opacity':'0.7','justify-content': 'center','align-items': 'center'}">
            <mat-card>
                <mat-card-title style="text-align: center;">You have almost reached the first secret city</mat-card-title>
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button (click)="enterCity()">Enter City</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="mat-elevation-z8" *ngIf="cityGate" [ngStyle]="{'width': 'fit-content','justify-content': 'center','align-items': 'center'}">
            <br><br><br><br>
            <mat-card [ngStyle]="{'opacity':'0.7'}">
                <mat-card-title style="text-align: center;">Enter the passkey</mat-card-title>
                <mat-card-content>
                    <mat-form-field appearance="standard">
                        <mat-label>Passkey</mat-label>
                        <input matInput appearance="outline" [(ngModel)]="passkey">
                    </mat-form-field><br>
                    <p *ngIf="invalidAnswer" style="color: red;">Wrong answer</p>
                </mat-card-content>
                <mat-card-actions >
                    <button mat-raised-button (click)="openGateIfAnswerValid()">Enter</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="mat-elevation-z8" *ngIf="cityMain" [ngStyle]="{'width': 'fit-content','justify-content': 'center','align-items': 'center','opacity':'0.7'}">
            <mat-card [ngStyle]="{'position':'relative', 'margin-left':'10%','max-width':'100%'}">
                <mat-card-title style="text-align: center;">Welcome to the City of Devipura</mat-card-title>
                <mat-card-content>
                    <h2>{{question}}</h2>
                    <mat-form-field appearance="standard">
                        <mat-label>Answer</mat-label>
                        <input matInput appearance="outline" [(ngModel)]="answer">
                    </mat-form-field>
                    <br>
                    <h3 *ngIf="hintUnlocked">{{hintText}}</h3>
                </mat-card-content>
                <mat-card-actions >
                    <button mat-raised-button (click)="getHint()">
                        <mat-icon>contact_support</mat-icon>Get Hint
                    </button>
                    <button mat-raised-button (click)="getKeyIfAnswerValid()">Enter</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="mat-elevation-z8" *ngIf="shipExit" [ngStyle]="{'width': 'fit-content','justify-content': 'center','align-items': 'center','opacity':'0.7'}">
            <mat-card [ngStyle]="{'position':'relative', 'margin-left':'10%','max-width':'50%'}">
                <mat-card-title style="text-align: center;">Well done my warriors!</mat-card-title>
                <mat-card-content>
                    <h2>To obtain the key you should have uploaded a picture with all your co-warriors</h2>
                    <h3>You can obtain the key only after this task</h3>
                </mat-card-content>
                <mat-card-actions >
                    <button mat-raised-button [disabled]="isPhotoUploaded" routerLink="/upload-image">Upload Image</button>
                    <button mat-raised-button (click)="getKey()" [disabled]="!isPhotoUploaded">Get Key</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

