
<div [ngStyle]="{'width': 'auto','display': 'flex','flex-direction': 'column','justify-content': 'center','text-align': 'center','background-image':currentImagePath,'height': '100%','background-size':'cover','background-position':'center-center'}">
    <div>
        <br>
        <div *ngIf="shipEntry" [ngStyle]="{'width': 'fit-content','opacity':'0.7','justify-content': 'center','align-items': 'center', 'margin-left':'3%'}">
            <br> <br><br><br><br><br><br><br>
            <mat-card>
                <mat-card-title style="text-align: center;">You have almost reached the {{cityPos}} secret city</mat-card-title>
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button (click)="enterCity()">Enter City</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="mat-elevation-z8" *ngIf="cityGate" [ngStyle]="{'width': 'fit-content','justify-content': 'center','align-items': 'center'}">
            <br><br><br><br>
            <mat-card [ngStyle]="{'opacity':'0.7'}">
                <mat-card-title style="text-align: center;">Enter the passkey</mat-card-title>
                <mat-card-content>
                    <mat-form-field appearance="standard">
                        <mat-label>Passkey</mat-label>
                        <input matInput appearance="outline" [(ngModel)]="passkey">
                    </mat-form-field><br>
                    <h2 *ngIf="isLastGate">Combine the three keys you have to get the next key</h2>
                    <p *ngIf="invalidAnswer" style="color: red;">Wrong answer</p>
                </mat-card-content>
                <mat-card-actions >
                    <button mat-raised-button (click)="openGateIfAnswerValid()">Enter</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="mat-elevation-z8" *ngIf="cityMain" [ngStyle]="{'width': 'fit-content','justify-content': 'center','align-items': 'center','opacity':'0.7'}">
            <mat-card [ngStyle]="{'position':'relative', 'margin-left':'15%','width': 'fit-content','max-width':'100%','height':'fit-content'}">
                <mat-card-title style="text-align: center;">Welcome to the City of {{cityName}}</mat-card-title>
                <mat-card-content>
                    <!-- <h2 >{{question}}</h2> -->
                    <img src="../../../assets//{{question}}" style="height: 420px;">
                    <mat-form-field appearance="standard">
                        <mat-label>Answer</mat-label>
                        <input matInput appearance="outline" [(ngModel)]="answer" placeholder="Enter forest name">
                    </mat-form-field>
                    <br>
                    <h3 *ngIf="hintUnlocked" style="color: green;">{{hintText}}</h3>
                    <button *ngIf="showSolvePuzzleButton" mat-raised-button routerLink="/puzzles">Solve puzzles</button>
                    <h3 style="color: red;">{{answerStatus}}</h3>
                </mat-card-content>
                <mat-card-actions >
                    <button mat-raised-button (click)="getHint()">
                        <mat-icon>contact_support</mat-icon>Get Hint
                    </button>
                    <button mat-raised-button (click)="submitAnswer()">Submit Answer</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="mat-elevation-z8" *ngIf="shipExit" [ngStyle]="{'width': 'fit-content','justify-content': 'center','align-items': 'center','opacity':'0.7'}">
            <mat-card [ngStyle]="{'position':'relative', 'margin-left':'10%','width':'fit-content','max-width':'90%'}">
                <mat-card-title style="text-align: center;">Well done saviours!</mat-card-title>
                <mat-card-content>
                        <h2>You have successfully completed this day's challenge</h2>
                    <div *ngIf="!isPhotoUploaded">
                        <h2 *ngIf="!hasCompletedFinalChallenge">To obtain the key you should have uploaded a picture with all your co-warriors</h2>
                        <h2 *ngIf="hasCompletedFinalChallenge">To finish the final task, you should have uploaded a picture with all your co-warriors</h2>
                        <h3>You can obtain the key only after this task</h3>
                    </div>
                    <div>
                        {{keyText}}
                    </div>
                </mat-card-content>
                <mat-card-actions >
                    <button mat-raised-button [disabled]="isPhotoUploaded" routerLink="/upload-image">Upload Image</button>
                    <button mat-raised-button (click)="getKey()" [disabled]="!isPhotoUploaded">{{keyButtonText}}</button>
                    <button *ngIf="isTeamLaggingBehind" mat-raised-button style="width: fit-content; margin-left: 20%;" (click)="enterNextCity()">Go to next city</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

